<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SkopyWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/two.js/0.7.13/two.min.js" integrity="sha512-3c8iO+jUkJRlsK7lafeynYMd2+Uj31Qnbsxx78FQib8QZUqCYljobT178ZZCN6J7sK3s5J1Dp0QTPL2LPlmrAg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/skopy.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>